.navbar {
  position: fixed;
  /* overflow: hidden; */
  transition: 0.4s;
  width: 100%;
  top: 0;
  z-index: 1;
}
.navbar-brand {
  font-family: "Lora", serif;
  font-style: italic;
  text-transform: none;
  font-size: 2.75vw;
}
.navbar-dark .navbar-brand {
  color: #ff6426;
}
.navbar-dark .navbar-nav .nav-link {
  color: rgba(255,255,255,.7);
}
.navbar-overlay--active {
  background-color: rgb(3,13,14);
  background-color: rgba(3,13,14, 0.9);
}
.navbar-nav {
  text-transform: uppercase;
}
a.nav-link {
  margin: 0 4vw;
}
/* a.nav-link:hover { */
  /* color: red; */
  /* background-color: #fff; */
  /* border-color: #dee2e6 #dee2e6 #fff; */
/* } */
.navbar-light .navbar-nav .nav-link:hover {
  color: #f7ca84;
}

.navbar-light .navbar-nav .nav-link {
  color: #f5f5f5;
  font-size: 1vw;
  font-weight: 800;
}

/* MEDIA QUERIES  */

/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
  .navbar {
    min-height: 7vh;
  }
  .navbar-collapse {
    flex-basis: 100%;
    flex-grow: 0;
    align-items: center;
    background-color: rgb(3,13,14);
    background-color: rgba(3,13,14, 0.9);
  }
  .navbar-toggler {
    padding: .5vw .5vw;
    margin-right: 2vw;
    font-size: 3vw;
    line-height: 1;
    border-radius: .75vw;
    border: 1px solid white;
  }
  .navbar-brand {
    font-size: 2.75vw;
  }
  

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 

}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    .navbar-collapse {
      flex-basis: 100%;
      flex-grow: 1;
      align-items: center;
      background-color: rgb(3,13,14);
      background-color: rgba(3,13,14, 0.9);
      width: 50%;
    }  

}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}
