/* FOOTER */
.zizi-logo{
  height: 12vw;
  width: 16vw;
}
.footer {
  /* padding: 2vw 0 0 0; */
  /* bottom: 0; */
  height: auto;
  padding: 1vw;
  background-color: #f7cb85;
  color: #fff;
}
.footer-col {
  /* height: auto; */
  /* padding: 1vw; */
  padding: 2vw;
}
.footer-title {
  color: #424242;
  font-size: 2vw;
  font-weight: 800;
  line-height: 2.25vw;
  letter-spacing: .1vw;
}
.footer-subtitle {
  color: #616161;
  font-size: 1.25vw;
  font-weight: 500;
  line-height: 2vw;
  margin-bottom: 0;
  letter-spacing: .07vw;
}
.dev {
  padding: 1vw;
  text-align: center;
}
.copyright, .developer {
  color: #616161;
  font-size: 1vw;
  margin-bottom: 0;
  /* text-align: center; */
}
.divider {
  color: #616161;
  margin-left: 1vw;
  margin-right: 1vw;
}
.dn {
  color: #616161;
  letter-spacing: 0;
  padding-left: .25vw;
}
/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
    .footer {
      padding: 2vw 4vw;
    }
    .zizi-logo{
      height: 32vw;
      width: 40vw;
      padding-bottom: 0;
    }  
    .footer-title {
      font-size: 6vw;
      font-weight: 800;
      line-height: 6vw;
      margin-bottom: 2vw;
    }   
    .footer-subtitle {
      font-size: 4vw;
      line-height: 6vw;
      margin-bottom: 0;
      letter-spacing: .07vw;
    }       
    .copyright, .developer, a.dn {
      font-size: 2vw;
    }
    .dev {
      text-align: left;
    }
    a.dn {

    }
}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    /* .zizi-logo{
      height: 22vw;
      width: 26vw;
    }     */

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 

}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}