* {
  box-sizing: border-box;
}
/* .App {
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* NavBar */
.navbar {
  background-color: rgb(247, 202, 132);
  min-height: 10vh;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* font-size: calc(10px + 2vmax); */
}

.zizi-logo{
  width: 12vw;
}
/* Nav Menu Item */
/* .ui.secondary.menu .item {
  font-size: 1.2vw;
  font-weight: 600;
  text-transform: uppercase;
  align-self: flex-end;
  padding-right: 5vw;
} */
/* Nav Menu Item - Active Item*/
/* .ui.secondary.menu .active.item {
  font-weight: 800;
  font-size: 1.3vw;
} */
/* CAROUSEL */
.carousel-image {
  /* height: auto; */
}

/* .App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
