* {
  box-sizing: border-box;
}
.Main {
  padding: 0;
  margin: 0;  
}
h1 {
  font-family: "sifonn";
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.273;
  padding: 2vw .5vw 1vw 0;
  color: rgb(44, 48, 51);
  z-index: 1;
  letter-spacing: .05rem;
}
h5 {
  font-size: 2vw;
  font-weight: 600;
  margin-bottom: 2vw;
  line-height: 1.5vw;
}

p {
  padding: .05vw;
  letter-spacing: .05vw;
  color: #777;
  font-size: 1.15rem;
}
  /* OVERLAY */  

.hero-overlay {
   /* The image used */
   background-image: url("./images/sushis.jpg");
   height: 45vw;
   max-width: 100%;
   top: 0;
   left: 0; 
 
   /* Center and scale the image nicely */
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
   
   /* Needed to position the navbar */
   position: relative;
   z-index: -99;
}
.container-fluid {
  margin-right: 0;
  margin-left: 0;
  padding-right: 0;
  padding-left: 0;
}

NavBar
.navbar {
  min-height: 10vh;
}

.section {
  background-color: #FAFAFA;
  margin-top: 1vw;
  margin-bottom: 1vw;
}
.align-items-center {
  align-items: center !important;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* CAROUSEL */
.carousel-image {
  /* height: auto; */
}

.section-container h2{
  color: rgb(44, 48, 51);
  text-align: center;
  font-style: italic;
  line-height: 1.25;
  font-weight: 700;
  position: relative;
  z-index: 1;
  font-family: "sifonn";
  letter-spacing: .2rem;
  font-size: 4.5rem;
  padding: 2.5vw 0 2.5vw 0;
} 

a {
  /* font-family: 'Lora'; */
  font-weight: 600;
  color: #000;
  font-size: 1.05vw;
  letter-spacing: .075vw;
  line-height: 2.5vw;
  text-transform: uppercase;
}

.single_food_item {
  padding-left: 1.5vw;
  padding-top: 1vw;
  /* width: 10vw; */
}
.food_img {
  /* height: 10vw; */
  /* width: 13vw; */
  justify-content: flex-start;
}
.media_body {
  background-color: #fff;
}

/* MENU TABS */

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.col-sm-3 {
  padding-right: 0;
  padding-left: 0;
  background-color: #f7ca84;
}
.col-sm-9 {
  padding-left: 0;
  padding-right: 0; 
}
.col-sm-6 {
  margin: 1vw 0;
  /* margin: 0 1vw; */
}

.menu {
  display: block; 
  /* margin-left: auto; 
  margin-right: auto;  */
  max-width: 100%;
}

.menu-item, .menu-price {
  color: #131230;
  font-family: "Playfair Display",serif;
  text-transform: capitalize;
  font-size: 20px !important;
  font-weight: 700;
  height: 5vw;
}

